# django settings
DEBUG=<debug-true/false>
SECRET_KEY=<django-secret-key>

# database creds (used by Django settings.py)
DB_NAME=<postgres-db>
DB_USER=<postgres-user>
DB_PASSWORD=<my-password>
DB_HOST=db          # corresponding to docker service
DB_PORT=5432        # default

# postgres container init (used by postgres Docker image)
POSTGRES_DB=<postgres-db>
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<my-password>

# Development
DJANGO_SETTINGS_MODULE=pulsenotify.settings.local   # comment out for production

# Production
DJANGO_SETTINGS_MODULE=pulsenotify.settings.production  # comment out for development

# API
TRAVELPAYOUTS_API_TOKEN=your-token-here