amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==6.0.5
django-redis==6.0.0
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==26.0.0
idna==3.15
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.2
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
requests==2.34.2
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260510
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
